/*  your css code here. If applicable */
#yellow{
  border-style: solid;
  border-width: 1px;
  border-color: green;
  background: yellow;
}
#red{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: red;
	
	
}

#green {
  border-style: solid;
  border-width: 1px;
  border-color: yellow;
  background: green;
}